</div>
<div class="footer-padding"></div>
<div class="footer">
    <p>Made with ❤️ by <a href="https://faran.xyz/" style="text-decoration: none; color: white;">Faran Mohammad</a></p>
</div>
</div>
</body>

</html>